<!-- User Form Panel -->
<div *ngIf="showAddPanel" class="fixed inset-0 flex justify-center items-center z-50 bg-black bg-opacity-50">
  <div class="bg-white p-6 rounded-xl shadow-2xl w-full max-w-4xl">
    <div class="flex justify-between items-center mb-4">
      <h4 class="text-xl font-semibold text-gray-800">Ajouter un Utilisateur</h4>
      <button class="text-lg font-bold text-red-500" (click)="togglePanel()">X</button>
    </div>
    <form (ngSubmit)="addUser()" #userForm="ngForm">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <!-- Nom -->
        <div class="mb-4">
          <label for="nom" class="block text-gray-700 font-medium mb-1">Nom <span class="text-red-500">*</span></label>
          <input type="text" id="nom" [(ngModel)]="newUser.nom" name="nom" required #nom="ngModel"
                 class="w-full py-2 px-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <div *ngIf="nom.invalid && nom.touched" class="text-red-500 text-sm mt-1">Le nom est requis.</div>
        </div>

        <!-- Nom d'utilisateur -->
        <div class="mb-4">
          <label for="username" class="block text-gray-700 font-medium mb-1">Nom d'utilisateur <span class="text-red-500">*</span></label>
          <input type="text" id="username" [(ngModel)]="newUser.username" name="username" required #username="ngModel"
                 (ngModelChange)="checkUsername()"
                 class="w-full py-2 px-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <div *ngIf="username.invalid && username.touched" class="text-red-500 text-sm mt-1">Le nom d'utilisateur est requis.</div>
          <div *ngIf="usernameTaken" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>

        <!-- Civilité -->
        <div class="mb-4">
          <label for="civilite" class="block text-gray-700 font-medium mb-1">Civilité <span class="text-red-500">*</span></label>
          <select id="civilite" [(ngModel)]="newUser.civilite" name="civilite" required #civilite="ngModel"
                  class="w-full py-2 px-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option value="">Sélectionnez une civilité</option>
            <option value="M">M</option>
            <option value="Mme">Mme</option>
            <option value="Mlle">Mlle</option>
            <option value="Dr">Dr</option>
            <option value="Pr">Pr</option>
          </select>
          <div *ngIf="civilite.invalid && civilite.touched" class="text-red-500 text-sm mt-1">La civilité est requise.</div>
        </div>

        <!-- Email -->
        <div class="mb-4">
          <label for="email" class="block text-gray-700 font-medium mb-1">Email <span class="text-red-500">*</span></label>
          <input type="email" id="email" [(ngModel)]="newUser.email" name="email" required #email="ngModel"
                 (ngModelChange)="validateEmail(newUser.email)"
                 class="w-full py-2 px-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <div *ngIf="email.invalid && email.touched" class="text-red-500 text-sm mt-1">Un email valide est requis.</div>
          <div *ngIf="emailInvalid" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
          <div *ngIf="emailTakenError" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>

        <!-- Numéro de téléphone -->
        <div class="mb-4">
          <label for="gsm" class="block text-gray-700 font-medium mb-1">Numéro de téléphone <span class="text-red-500">*</span></label>
          <input type="tel" id="gsm" [(ngModel)]="newUser.gsm" name="gsm" required #gsm="ngModel"
                 (ngModelChange)="validateGSM(newUser.gsm)"
                 class="w-full py-2 px-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <div *ngIf="gsm.invalid && gsm.touched" class="text-red-500 text-sm mt-1">Le numéro de téléphone est requis.</div>
          <div *ngIf="gsmInvalid" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
          <div *ngIf="gsmTakenError" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>

        <!-- Mot de passe -->
        <div class="mb-4 relative">
          <label for="password" class="block text-gray-700 font-medium mb-1">Mot de passe <span class="text-red-500">*</span></label>
          <input type="password" id="password" [(ngModel)]="newUser.password" name="password" required #password="ngModel"
                 (ngModelChange)="validatePassword(newUser.password)"
                 class="w-full py-2 px-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <button type="button" class="absolute right-2 top-1 text-lg" (click)="togglePasswordVisibility()">👁️</button>
          <div *ngIf="password.invalid && password.touched" class="text-red-500 text-sm mt-1">Le mot de passe est requis.</div>
          <div *ngIf="passwordInvalid" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>

        <!-- Rôle -->
        <div class="mb-4">
          <label for="role" class="block text-gray-700 font-medium mb-1">Rôle <span class="text-red-500">*</span></label>
          <select id="role" [(ngModel)]="newUser.role" name="role" required #role="ngModel"
                  class="w-full py-2 px-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option value="">Sélectionnez un rôle</option>
            <option value="ADMIN">Admin</option>
            <option value="RESPONSABLE">Responsable</option>
            <option value="TECHNICIEN">Technicien</option>
            <option value="MAGASINIER">Magasinier</option>
            <option value="LAMBDA">Lambda</option>
          </select>
          <div *ngIf="role.invalid && role.touched" class="text-red-500 text-sm mt-1">Le rôle est requis.</div>
        </div>
        <div class="mb-4">
          <label for="photo" class="block text-gray-700 font-medium mb-1">Photo de profil</label>
            <input type="file" id="photo" class="hidden" (change)="onFileChange($event)">
          <label for="photo" class="cursor-pointer bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600">
            Choisir un fichier
          </label>
          <div *ngIf="newUser.image" class="mt-2">
            <img [src]="newUser.image" alt="Aperçu de la photo" class="w-20 h-20 object-cover rounded-lg shadow-md">
          </div>
          <div *ngIf="imageError" class="text-red-500 text-sm mt-1">
            {{ imageError }}
          </div>
        </div>
      </div>

      <div class="flex justify-between mt-6 gap-4">
        <!-- Réinitialiser Button -->
        <button
          type="button"
          class="bg-yellow-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-yellow-600 transition duration-300 ease-in-out flex items-center gap-2"
          (click)="resetNewUser()"
        >
          <i class="fas fa-undo"></i> Réinitialiser
        </button>

        <!-- Ajouter Button -->
        <button
          type="submit"
          [disabled]="userForm.invalid || emailInvalid || passwordInvalid || gsmInvalid"
          class="bg-green-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-green-600 transition duration-300 ease-in-out flex items-center gap-2"
        >
          <i class="fas fa-plus"></i> Ajouter
        </button>
      </div>

    </form>
  </div>
</div>

<div class="container mx-auto p-8">
  <div class="bg-white shadow-lg rounded-xl overflow-hidden p-6 border border-gray-200">
    <h2 class="text-2xl font-bold text-gray-700 mb-4">Gestion des Utilisateurs</h2>
    <p class="text-gray-500 text-sm mb-6">Recherchez, triez et gérez facilement tous les utilisateurs du système.</p>

    <div *ngIf="userAdded" class="fixed top-5 right-5 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg flex items-center space-x-3 z-50">
      <i class="fas fa-check-circle text-2xl"></i>
      <span class="font-semibold">{{ successMessage }}</span>
    </div>

    <div *ngIf="userUpdated" class="fixed top-5 right-5 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg flex items-center space-x-3 z-50">
      <i class="fas fa-check-circle text-2xl"></i>
      <span class="font-semibold">{{ successMessage }}</span>
    </div>


    <!-- Contrôles de recherche et tri -->
    <div class="flex flex-wrap justify-start gap-4 mb-6">
      <!-- Barre de recherche -->
      <div class="w-full sm:w-1/4 md:w-1/5">
        <div class="relative">
          <input type="text" class="w-full py-2 px-3 border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-200 ease-in-out" [(ngModel)]="searchTerm" (input)="filterUsers()" placeholder="Rechercher">
          <span class="absolute right-3 top-2 text-gray-500"><i class="fa fa-search"></i></span>
        </div>
      </div>

      <!-- Filtrer par rôle -->
      <div class="w-full sm:w-1/4 md:w-1/5">
        <select class="w-full py-2 px-3 border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-200 ease-in-out" [(ngModel)]="selectedFilter" (change)="filterByType()">
          <option value="">Tous les rôles</option>
          <option value="ADMIN">Admin</option>
          <option value="RESPONSABLE">Responsable</option>
          <option value="TECHNICIEN">Technicien</option>
          <option value="MAGASINIER">Magasinier</option>
          <option value="LAMBDA">Lambda</option>
        </select>
      </div>

      <!-- Trier par nom -->
      <div class="w-full sm:w-1/4 md:w-1/5">
        <button class="w-full py-2 px-3 bg-green-600 text-white font-medium rounded-lg hover:bg-green-700 transition duration-200 ease-in-out" (click)="sortByName()">
          Trier par Nom <i class="fa" [ngClass]="{'fa-sort-alpha-down': isSortedAZ, 'fa-sort-alpha-up': !isSortedAZ}"></i>
        </button>
      </div>

      <div class="flex space-x-4 justify-end w-full sm:w-auto">
        <button class="text-blue-600 hover:text-blue-700 transition duration-200" (click)="togglePanel()">
          <i class="fas fa-plus fa-lg"></i>
        </button>

        <button class="text-green-600 hover:text-green-700 transition duration-200" (click)="exportToExcel()">
          <i class="fas fa-download fa-lg"></i>
        </button>
      </div>
    </div>


    <!-- User Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-6">
      <div *ngFor="let user of filteredUsers" class="bg-white p-6 border-2 border-green-700 rounded-xl shadow-lg transition-transform transform hover:scale-105 hover:shadow-xl">
        <img
          [src]="getImageUrl(user.image)"
          class="rounded-full mx-auto mb-4 border-t-4 border-l-2 border-r-2 border-b-2 border-gray-200"
          width="70"
          height="70"
          alt="Image indisponible"
          style="object-fit: contain; width: 100px; height: 100px;"
        >

  <h5 class="text-lg font-semibold text-center text-gray-800">{{ user.civilite }}. {{ user.nom }}</h5>
        <p class="text-gray-500 text-center">{{ user.role }}</p>
        <div class="flex justify-between mt-6">
          <button (click)="viewDetails(user.id)"
                  class="px-6 py-2 text-sm font-semibold text-white bg-green-700 hover:bg-blue-700 rounded-lg shadow-md transition duration-200">
            🔍 Voir détails
          </button>
        </div>
      </div>
    </div>

    <!-- Details Panel -->
    <div *ngIf="showEditPanel" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white p-6 rounded-xl shadow-lg w-1/3 relative">
        <button class="absolute top-2 right-2 text-gray-500 hover:text-gray-700" (click)="closePanel()">
          ✖
        </button>
        <h2 class="text-xl font-semibold text-gray-800">Détails de l'utilisateur</h2>

        <!-- User Info -->
        <div class="mt-4" *ngIf="!isEditing">
          <!-- Image de profil -->
          <img [src]="getImageUrl(selectedUser?.image)"
               class="rounded-full mx-auto mb-4 border-2 border-gray-200"
               width="80" height="80" alt="Avatar">

          <!-- Informations de l'utilisateur -->
          <p><strong>Nom :</strong> {{ selectedUser?.civilite }}. {{ selectedUser?.nom }}</p>
          <p><strong>Nom d'utilisateur :</strong> {{ selectedUser?.username }}</p>
          <p><strong>Email :</strong> {{ selectedUser?.email }}</p>
          <p><strong>GSM :</strong> {{ selectedUser?.gsm }}</p>
          <p><strong>Rôle :</strong> {{ selectedUser?.role }}</p>
          <p><strong>Statut :</strong>
            <span class="px-2 py-1 rounded-lg text-white"
                  [ngClass]="{'bg-green-500': selectedUser?.actif, 'bg-red-500': !selectedUser?.actif}">
      {{ selectedUser?.actif ? 'Actif' : 'Inactif' }}
    </span>
          </p>

          <!-- Bouton Modifier -->
          <button class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition" (click)="enableEditing()">
            Modifier
          </button>
        </div>

        <!-- Edit Form -->
        <div class="mt-4" *ngIf="isEditing">
          <div class="overflow-y-auto max-h-[400px] px-4 py-4 bg-white rounded-lg shadow-md">
            <!-- Civilité -->
            <label class="block mb-2 text-gray-700">Civilité</label>
            <select [(ngModel)]="selectedUser!.civilite" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
              <option value="M">M.</option>
              <option value="Mme">Mme</option>
              <option value="Mlle">Mlle</option>
              <option value="Dr">Dr</option>
              <option value="Pr">Pr</option>
            </select>

            <!-- Nom -->
            <label class="block mt-3 mb-2 text-gray-700">Nom</label>
            <input type="text" [(ngModel)]="selectedUser!.nom" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">

            <!-- Username -->
            <label class="block mt-3 mb-2 text-gray-700">Nom d'utilisateur</label>
            <input type="text" [(ngModel)]="selectedUser!.username" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
            <div *ngIf="usernameTaken" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>

            <!-- Email -->
            <label class="block mt-3 mb-2 text-gray-700">Email</label>
            <input type="email" [(ngModel)]="selectedUser!.email" (ngModelChange)="validateEmail(selectedUser!.email)" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
            <div *ngIf="emailInvalid" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
            <div *ngIf="emailTakenError" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>

            <!-- Mot de passe -->
            <label class="block mt-3 mb-2 text-gray-700">Mot de passe</label>
            <input type="password" [(ngModel)]="selectedUser!.password" (ngModelChange)="validatePassword(selectedUser!.password)"  class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
            <div *ngIf="passwordInvalid" class="text-red-500 text-sm mt-1">{{ errorMessage }}</div>

            <!-- GSM -->
            <label class="block mt-3 mb-2 text-gray-700">GSM</label>
            <input type="tel"  [(ngModel)]="selectedUser!.gsm"  (ngModelChange)="validateGSM(selectedUser!.gsm)" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
            <div *ngIf="gsmInvalid" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
            <div *ngIf="gsmTakenError" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>

            <!-- Rôle -->
            <label class="block mt-3 mb-2 text-gray-700">Rôle</label>
            <select [(ngModel)]="selectedUser!.role" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
              <option value="ADMIN">Administrateur</option>
              <option value="RESPONSABLE">Responsable de maintenance</option>
              <option value="TECHNICIEN">Technicien</option>
              <option value="MAGASINIER">Magasinier</option>
              <option value="LAMBDA">Utilisateur Lambda</option>
            </select>

            <!-- Statut actif -->
            <label class="block mt-3 mb-2 text-gray-700">Statut</label>
            <div class="flex items-center">
              <input type="checkbox" [(ngModel)]="selectedUser!.actif" class="mr-2">
              <span class="text-gray-700">{{ selectedUser!.actif ? 'Actif' : 'Inactif' }}</span>
            </div>

            <!-- Image -->
            <label class="block mt-3 mb-2 text-gray-700">Image</label>
            <input type="file" (change)="onFileChange($event)" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
            <div *ngIf="imageError" class="text-red-500 text-sm mt-1">
              {{ imageError }}
            </div>
            <!-- Action Buttons -->
            <div class="flex justify-end mt-4">
              <button class="bg-gray-500 text-white px-4 py-2 rounded-lg mr-2 hover:bg-gray-600 transition" (click)="isEditing = false">
                Annuler
              </button>
              <button
                class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition"
                (click)="updateUser()"
                [disabled]="emailInvalid || passwordInvalid || gsmInvalid">
                Sauvegarder
              </button>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
