
<div class="flex h-screen bg-gray-100">
  <!-- Sidebar Navbar -->
  <div class="fixed top-0 left-0 flex flex-col w-65 bg-white text-green-900 shadow-lg transition-all ease-in-out duration-300"
       style="width: 300px; max-height: 100vh;" [ngClass]="{'w-16': isSidebarCollapsed}">
    <div class="flex justify-between items-center h-24 p-4">
      <button (click)="toggleSidebar()" class="p-2 bg-green-900 text-white rounded-full">
        <i class="fas" [ngClass]="{'fa-chevron-left': isSidebarCollapsed, 'fa-chevron-right': !isSidebarCollapsed}"></i>
      </button>
      <img *ngIf="!isSidebarCollapsed" src="../../../../assets/logo.png" alt="Hospital Logo" class="w-3/4 max-w-xs">
    </div>

    <!-- Navigation Links -->
    <div class="flex flex-col space-y-4 mt-9 overflow-y-auto" style="max-height: calc(100vh - 10rem);">
      <!-- Dashboard admin et responsable-->
      <div *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'" class="w-full">
      <a routerLink="/dashboard" class="flex items-center space-x-4 py-3 px-4 rounded-md hover:bg-green-700 hover:text-white transition-all ease-in-out duration-300"
         [ngClass]="{'bg-green-800 text-white': isActive('/dashboard')}"
         *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'">
        <i class="fas fa-tachometer-alt text-xl"></i>
        <span *ngIf="!isSidebarCollapsed">Dashboard</span>
      </a>
      </div>
      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'" class="border-t border-gray-200 my-2"></div>

      <!-- Gestion des utilisateurs avec sous-menu -->
      <div *ngIf="user?.role === 'ADMIN'" class="w-full">

        <!-- Bouton principal du menu -->
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('users')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-users text-xl"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium">Gestion des utilisateurs</span>
          </div>
          <i class="fas" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('users'), 'fa-chevron-up': isSubmenuOpen('users')}"></i>
        </button>

        <!-- Sous-menu -->
        <div *ngIf="isSubmenuOpen('users')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <a [ngClass]="{'bg-green-800 text-white': isActive('/utilisateurs/liste')}"
             routerLink="/utilisateurs/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
            <i class="fas fa-user-plus text-sm"></i>
            <span *ngIf="!isSidebarCollapsed">Liste des utilisateurs</span>
          </a>
          <a [ngClass]="{'bg-green-800 text-white': isActive('/utilisateurs/permissions')}"
             routerLink="/utilisateurs/permissions"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
            <i class="fas fa-user-edit text-sm"></i>
            <span *ngIf="!isSidebarCollapsed">Rôles et permissions</span>
          </a>
        </div>
      </div>
      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'" class="border-t border-gray-200 my-2"></div>

      <!-- Gestion des équipements avec sous-menu -->
      <div *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'" class="w-full">
        <!-- Bouton principal du menu -->
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('equipements')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-tools text-xl"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium">Gestion des équipements</span>
          </div>
          <i class="fas" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('equipements'), 'fa-chevron-up': isSubmenuOpen('equipements')}"></i>
        </button>

        <!-- Sous-menu -->
        <div *ngIf="isSubmenuOpen('equipements')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <a [ngClass]="{'bg-green-800 text-white': isActive('/equipements/type_equipements')}"
             routerLink="/equipements/type_equipements"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
            <i class="fas fa-tags text-sm"></i>
            <span *ngIf="!isSidebarCollapsed">Types d'équipements</span>
          </a>
          <a [ngClass]="{'bg-green-800 text-white': isActive('/equipements/liste')}"
             routerLink="/equipements/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
            <i class="fas fa-list text-sm"></i>
            <span *ngIf="!isSidebarCollapsed">Liste des équipements</span>
          </a>
          <a *ngIf="user?.role === 'ADMIN'" [ngClass]="{'bg-green-800 text-white': isActive('/equipements/categories')}"
             routerLink="/equipements/categories"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
            <i class="fas fa-folder text-sm"></i>
            <span *ngIf="!isSidebarCollapsed">Catégories d'équipements</span>
          </a>
        </div>
      </div>
      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'" class="border-t border-gray-200 my-2"></div>

      <!-- Batiment Management with Submenu -->
      <div *ngIf="user?.role === 'ADMIN'" class="w-full">
        <!-- Bouton principal du menu -->
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('batiments')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-building text-xl"></i> <!-- Changer de fa-tools à fa-building pour la gestion des bâtiments -->
            <span *ngIf="!isSidebarCollapsed" class="font-medium">Gestion des locaux</span>
          </div>
          <i class="fas" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('batiments'), 'fa-chevron-up': isSubmenuOpen('batiments')}"></i>
        </button>

        <!-- Sous-menu -->
        <div *ngIf="isSubmenuOpen('batiments')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <a *ngIf="user?.role === 'ADMIN'"
             [ngClass]="{'bg-green-800 text-white': isActive('/batiments/liste')}"
             routerLink="/batiments/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
            <i class="fas fa-list-alt text-sm"></i> <!-- Changer de fa-folder à fa-list-alt pour la liste des bâtiments -->
            <span *ngIf="!isSidebarCollapsed">Liste des bâtiments</span>
          </a>
        </div>
      </div>
      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMIN'" class="border-t border-gray-200 my-2"></div>

      <!-- Gestion des stocks avec sous-menu -->
      <div *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'" class="w-full">
        <!-- Bouton principal du menu -->
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('stock')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-tools text-xl"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium">Gestion des stocks</span>
          </div>
          <i class="fas" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('stock'), 'fa-chevron-up': isSubmenuOpen('stock')}"></i>
        </button>

        <!-- Sous-menu -->
        <div *ngIf="isSubmenuOpen('stock')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <a *ngIf="user?.role !== 'TECHNICIEN'"
             [ngClass]="{'bg-green-800 text-white': isActive('/stock/liste')}"
             routerLink="/stock/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
            <i class="fas fa-boxes text-sm"></i>
            <span *ngIf="!isSidebarCollapsed">Liste des pièces détachées</span>
          </a>

          <a *ngIf="user?.role === 'RESPONSABLE'"
             [ngClass]="{'bg-green-800 text-white': isActive('/stock/alertes')}"
             routerLink="/stock/alertes"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
            <i class="fas fa-bell text-sm"></i>
            <span *ngIf="!isSidebarCollapsed">Suivi et alertes</span>
          </a>

          <a *ngIf="user?.role === 'RESPONSABLE'"
             [ngClass]="{'bg-green-800 text-white': isActive('/stock/demande')}"
             routerLink="/stock/demande"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
            <i class="fas fa-hand-paper text-sm"></i>
            <span *ngIf="!isSidebarCollapsed">Demande des pièces</span>
          </a>
        </div>
      </div>
      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'" class="border-t border-gray-200 my-2"></div>

      <!-- Maintenance with Submenu -->
      <div *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'" class="w-full">
        <!-- Bouton principal du menu -->
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('maintenance')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-tools text-xl"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium">Maintenances</span>
          </div>
          <i class="fas" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('maintenance'), 'fa-chevron-up': isSubmenuOpen('maintenance')}"></i>
        </button>

        <!-- Sous-menu -->
        <div *ngIf="isSubmenuOpen('maintenance')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <ng-container *ngIf="user?.role === 'RESPONSABLE' || user?.role === 'ADMIN'">
            <a [ngClass]="{'bg-green-800 text-white': isActive('/maintenances/preventives')}"
               routerLink="/maintenances/preventives"
               class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
              <i class="fas fa-calendar-check text-sm"></i>
              <span *ngIf="!isSidebarCollapsed">Maintenances préventives</span>
            </a>
            <a [ngClass]="{'bg-green-800 text-white': isActive('/maintenances/correctives')}"
               routerLink="/maintenances/correctives"
               class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
              <i class="fas fa-wrench text-sm"></i>
              <span *ngIf="!isSidebarCollapsed">Maintenances correctives</span>
            </a>
            <a [ngClass]="{'bg-green-800 text-white': isActive('/maintenances/historique')}"
               routerLink="/maintenances/historique"
               class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
              <i class="fas fa-history text-sm"></i>
              <span *ngIf="!isSidebarCollapsed">Historique des maintenances</span>
            </a>
            <a [ngClass]="{'bg-green-800 text-white': isActive('/maintenances/calendar')}"
            routerLink="/maintenances/calendar"
            class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
            <i class="fas fa-calendar-alt text-sm"></i>
           <span *ngIf="!isSidebarCollapsed">calendrier des maintenances</span>
         </a>
          </ng-container>
        </div>
      </div>
      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'" class="border-t border-gray-200 my-2"></div>

         <!-- Reports with Submenu -->
         <div *ngIf="user?.role === 'ADMIN' || user?.role ==='RESPONSABLE'">
          <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300"
          (click)="toggleSubmenu('reports')">
    <div class="flex items-center space-x-3">
      <i class="fas fa-tools text-xl"></i>
      <span *ngIf="!isSidebarCollapsed" class="font-medium">Rapports</span>
    </div>
    <i class="fas" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('reports'), 'fa-chevron-up': isSubmenuOpen('reports')}"></i>
  </button>

            <div *ngIf="isSubmenuOpen('reports')" class="ml-4 space-y-2">
              <a routerLink="/rapports/statistiques" class="flex items-center space-x-4 py-2 px-4 rounded-md hover:bg-green-700 hover:text-white">
                <i class="fas fa-chart-pie text-sm"></i>
                <span *ngIf="!isSidebarCollapsed">Rapports maintenances</span>
              </a>
              <a routerLink="/rapports/coutMaintenance" class="flex items-center space-x-4 py-2 px-4 rounded-md hover:bg-green-700 hover:text-white">
                <i class="fas fa-chart-pie text-sm"></i>
                <span *ngIf="!isSidebarCollapsed">Rapport Equipements</span>
              </a>
  
              <a routerLink="/rapports/Utiliateurs" class="flex items-center space-x-4 py-2 px-4 rounded-md hover:bg-green-700 hover:text-white">
                <i class="fas fa-chart-pie text-sm"></i>
                <span *ngIf="!isSidebarCollapsed">Rapport Utilisateurs</span>
              </a>
            </div>
          </div>
      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMIN' || user?.role === 'RESPONSABLE'" class="border-t border-gray-200 my-2"></div>


      <!-- Dashboard technicien-->
      <div *ngIf="user?.role === 'TECHNICIEN'" class="w-full">

      <a routerLink="/dashboard" class="flex items-center space-x-4 py-3 px-4 rounded-md hover:bg-green-700 hover:text-white transition-all ease-in-out duration-300"
         [ngClass]="{'bg-green-800 text-white': isActive('/dashboard')}"
         *ngIf="user?.role === 'TECHNICIEN'">
        <i class="fas fa-tachometer-alt text-xl"></i>
        <span *ngIf="!isSidebarCollapsed">Dashboard</span>
      </a>
      </div>
      <div *ngIf="user?.role === 'TECHNICIEN'" class="h-[20px]"></div>

      <!-- Separator -->
      <div *ngIf="user?.role === 'TECHNICIEN'" class="border-t border-gray-200 my-2"></div>
      <div *ngIf="user?.role === 'TECHNICIEN'" class="h-[20px]"></div>

      <!-- Interventions with Submenu -->
      <div *ngIf="user?.role === 'TECHNICIEN'" class="w-full">
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('interventions')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-tools text-xl"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium">Interventions</span>
          </div>
          <i class="fas" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('interventions'), 'fa-chevron-up': isSubmenuOpen('interventions')}"></i>
        </button>
        <div *ngIf="isSubmenuOpen('interventions')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <ng-container *ngIf="user?.role === 'TECHNICIEN' || user?.role === 'ADMIN'">
            <a [ngClass]="{'bg-green-800 text-white': isActive('/interventions/taches')}"
               routerLink="/interventions/taches"
               class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
              <i class="fas fa-calendar-check text-sm"></i>
              <span *ngIf="!isSidebarCollapsed">Liste des interventions</span>
            </a>
            <a [ngClass]="{'bg-green-800 text-white': isActive('/interventions/liste')}"
               routerLink="/interventions/liste"
               class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
              <i class="fas fa-wrench text-sm"></i>
              <span *ngIf="!isSidebarCollapsed">Historique des interventions</span>
            </a>
          </ng-container>
        </div>


        <div *ngIf="isSubmenuOpen('interventions')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <ng-container *ngIf="user?.role === 'TECHNICIEN' || user?.role === 'ADMIN'">
            
            <a [ngClass]="{'bg-green-800 text-white': isActive('/interventionsP/taches')}"
               routerLink="/interventionsP/taches"
               class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
              <i class="fas fa-calendar-check text-sm"></i>
              <span *ngIf="!isSidebarCollapsed">Liste des interventions préventives</span>
            </a>
        
            <a [ngClass]="{'bg-green-800 text-white': isActive('/interventionsP/liste')}"
               routerLink="/interventionsP/liste"
               class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-green-700 hover:text-white transition-all duration-300">
              <i class="fas fa-wrench text-sm"></i>
              <span *ngIf="!isSidebarCollapsed">Historique des interventions préventives</span>
            </a>
            
          </ng-container>
        </div>
        
        </div>
      <div *ngIf="user?.role === 'TECHNICIEN'" class="h-[20px]"></div>

      <!-- Separator -->
      <div *ngIf="user?.role === 'TECHNICIEN'" class="border-t border-gray-200 my-2"></div>
      <div *ngIf="user?.role === 'TECHNICIEN'" class="h-[20px]"></div>


        <div  *ngIf="user?.role === 'ADMIN' || user?.role ==='RESPONSABLE'" class="border-t border-gray-200 my-2"></div> <!-- Separator -->

        <!-- Settings -->
        <a routerLink="/parametres" class="flex items-center space-x-3 py-3 px-4 rounded-md hover:bg-green-700 hover:text-white transition-all ease-in-out duration-300"
           [ngClass]="{'bg-green-800 text-white': isActive('/parametres')}">
          <i class="fas fa-cogs text-xl"></i>
          <span *ngIf="!isSidebarCollapsed">Paramètres</span>
        </a>
      </div>
    <div *ngIf="user?.role === 'TECHNICIEN'" class="h-[20px]"></div>
    <div *ngIf="user?.role === 'TECHNICIEN'" class="h-[20px]"></div>


      <!-- User Profile Section at the Bottom -->
      <div class="mt-auto px-4 py-6 border-t border-gray-200">
        <div class="flex items-center justify-between" [ngClass]="{'flex-col': isSidebarCollapsed, 'flex-row': !isSidebarCollapsed}">
          <!-- Profile Info -->
          <div class="flex items-center space-x-4" *ngIf="!isSidebarCollapsed">
            <img src="https://i.imgur.com/8nsPi8z.png" alt="User Avatar" class="w-10 h-10 rounded-full">
            <div class="flex flex-col">
              <span class="text-sm font-semibold">{{ user?.username }}</span>
            </div>
          </div>

          <!-- Logout Icon -->
          <button class="text-green-900 hover:text-red-500" (click)="confirmLogout()">
            <i class="fas fa-sign-out-alt text-2xl"></i>
          </button>
        </div>
        <div class="mt-4 text-center" *ngIf="!isSidebarCollapsed">
          <span class="text-sm font-medium text-gray-600">🔹 Connecté en tant que <strong>{{ user?.role }}</strong></span>
        </div>
      </div>
    </div>
  </div>
