<div class="container mx-auto p-8">
  <div class="bg-white shadow-lg rounded-xl overflow-hidden p-6">
    <h2 class="text-3xl font-semibold text-gray-800 mb-4">Historique des interventions</h2>
    <p class="text-gray-600 mb-6">Consultez l'historique de vos précédentes interventions.</p>

    <div class="flex space-x-4 mb-4">
      <!-- Recherche par équipement maintenu -->
      <input
        type="text"
        [(ngModel)]="filters.equipementMaintenu"
        placeholder="Rechercher par équipement..."
        class="border px-4 py-2 rounded w-64"
      />


      <!-- Filtre par priorité -->
      <select [(ngModel)]="filters.priorite" class="border px-4 py-2 rounded">
        <option value="">Toutes les priorités</option>
        <option value="URGENTE">Urgente</option>
        <option value="NORMALE">Normale</option>
        <option value="FAIBLE">Faible</option>
      </select>
    </div>

    <div class="overflow-x-auto">
      <table class="min-w-full table-auto text-left bg-white border-collapse shadow-md rounded-lg">
        <thead class="bg-green-700 text-white">
        <tr>
          <th class="px-6 py-3 text-sm font-semibold">#</th>
          <th class="px-6 py-3 text-sm font-semibold">Commencée le</th>
          <th class="px-6 py-3 text-sm font-semibold">Terminée le</th>
          <th class="px-6 py-3 text-sm font-semibold">Equipement</th>
          <th class="px-6 py-3 text-sm font-semibold">Description</th>
          <th class="px-6 py-3 text-sm font-semibold">Durée</th>
          <th class="px-6 py-3 text-sm font-semibold">Priorité</th>
          <th class="px-6 py-3 text-sm font-semibold">Remarques</th>
          <th class="px-6 py-3 text-sm font-semibold">Pieces</th>
          <th class="px-6 py-3 text-sm font-semibold">Photos</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let intervention of filteredInterventions(); let i = index" class="border-b hover:bg-gray-50">
          <td class="px-6 py-4 text-gray-800 font-medium">{{ i + 1 }}</td>
          <td class="px-6 py-4 text-gray-600">{{ formatDateWithIntl(intervention.dateCommencement) }}</td>
          <td class="px-6 py-4 text-gray-600">{{ formatDateWithIntl(intervention.dateCloture) }}</td>
          <td class="px-6 py-4 text-gray-600">{{ intervention.equipementMaintenu }}</td>
          <td class="px-6 py-4 text-gray-600">{{ intervention.description || 'Non renseignée' }}</td>
          <td class="px-6 py-4 text-gray-600">{{ intervention.duree }} minutes</td>
          <td class="px-6 py-4 text-gray-600">
      <span
        class="inline-block px-3 py-1 rounded-full text-xs font-semibold"
        [ngClass]="{
          'bg-red-500 text-white': intervention.maintenancePriorite  === 'URGENTE',
          'bg-yellow-500 text-white': intervention.maintenancePriorite  === 'NORMALE',
          'bg-green-500 text-white': intervention.maintenancePriorite  === 'FAIBLE'
        }">{{ intervention.maintenancePriorite }}</span>
          </td>
          <td class="px-6 py-4 text-gray-600">{{ intervention.remarques || 'Non renseignées' }}</td>

          <td class="px-6 py-4 text-center">
            <button
              (click)="viewPieces(intervention)"
              class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition duration-200 shadow-sm"
            >
              Voir les pièces
            </button>

          </td>


          <td class="px-6 py-4 text-center">
            <button
              *ngIf="intervention.photos.length > 0"
              (click)="viewPhotos(intervention)"
              class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-200 shadow-sm"
            >
              Voir les photos
            </button>

            <span *ngIf="intervention.photos.length === 0" class="text-gray-400 italic">Aucune photo</span>
          </td>

        </tr>
        </tbody>

      </table>

      <!-- Modal d'affichage des photos -->

      <div
        *ngIf="showPhotoModal"
        class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60 backdrop-blur-sm transition-opacity duration-300"
      >
        <!-- Modal Content -->
        <div class="relative bg-white rounded-xl shadow-2xl w-full max-w-4xl mx-4 p-6 animate-fadeIn">
          <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">📸 Photos de l'intervention</h2>

          <!-- Horizontal Scrollable Image Gallery -->
          <div class="overflow-x-auto whitespace-nowrap space-x-4 flex max-w-full pb-2">
            <img
              *ngFor="let photo of selectedPhotos"
              [src]="getImageUrl(photo.url)"
              alt="Photo intervention"
              class="inline-block w-64 h-48 object-cover rounded-lg shadow transition-transform duration-300 hover:scale-105"
            />
          </div>

          <div class="mt-6 flex justify-center">
            <button
              (click)="showPhotoModal = false"
              class="px-6 py-2 bg-red-600 text-white font-semibold rounded-lg hover:bg-red-700 transition duration-200"
            >
              ✖ Fermer
            </button>
          </div>
        </div>
      </div>

      <!-- Modal pour les pièces détachées -->
      <div
        *ngIf="showPiecesModal"
        class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60 backdrop-blur-sm transition-opacity duration-300"
      >
        <div class="relative bg-white rounded-xl shadow-2xl w-full max-w-3xl mx-4 p-6 animate-fadeIn">
          <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
            🛠️ Pièces détachées utilisées
          </h2>

          <ng-container *ngIf="selectedPieces.length > 0; else noPiecesModal">
            <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
              <li
                *ngFor="let piece of selectedPieces"
                class="bg-gray-100 px-4 py-3 rounded-lg shadow text-gray-700"
              >
                <p class="font-semibold">🔹 {{ piece.pieceNom }}</p>
                <p class="text-sm text-gray-600 italic">Référence : {{ piece.pieceReference }}</p>
                <p class="text-sm text-gray-800 mt-1">
                  Quantité utilisée : <span class="font-medium">{{ piece.quantiteUtilisee }}</span>
                </p>
              </li>
            </ul>
          </ng-container>


          <ng-template #noPiecesModal>
            <p class="text-gray-500 italic text-center">Aucune pièce détachée enregistrée pour cette intervention.</p>
          </ng-template>

          <div class="mt-6 flex justify-center">
            <button
              (click)="showPiecesModal = false"
              class="px-6 py-2 bg-red-600 text-white font-semibold rounded-lg hover:bg-red-700 transition duration-200"
            >
              ✖ Fermer
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
