<div class="container mx-auto p-8">
  <div class="bg-white shadow-lg rounded-xl overflow-hidden p-6">
    <h2 class="text-2xl font-bold text-gray-700">Gestion des Types d'équipements</h2>
    <p class="text-gray-500 text-sm">Recherchez, triez et gérez facilement tous les types d'équipements.</p>
    <div *ngIf="typeUpdated" class="fixed top-5 right-5 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg flex items-center space-x-3 z-50">
      <i class="fas fa-check-circle text-2xl"></i>
      <span class="font-semibold">Type d'équipement modifié avec succès !</span>
    </div>

    <div *ngIf="typeAdded" class="fixed top-5 right-5 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg flex items-center space-x-3 z-50">
      <i class="fas fa-check-circle text-2xl"></i>
      <span class="font-semibold">Type d'équipement ajouté avec succès !</span>
    </div>

    <div *ngIf="attributeAdded" class="fixed top-5 right-5 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg flex items-center space-x-3 z-50">
      <i class="fas fa-check-circle text-2xl"></i>
      <span class="font-semibold">Attribut ajouté avec succès !</span>
    </div>

    <div *ngIf="attributeUpdated" class="fixed top-5 right-5 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg flex items-center space-x-3 z-50">
      <i class="fas fa-check-circle text-2xl"></i>
      <span class="font-semibold">Attribut modifié avec succès !</span>
    </div>


    <!-- Formulaire de modification -->
    <div *ngIf="showEditTypeForm && selectedType.id !== 0" class="fixed inset-0 z-50 flex justify-center items-center bg-black bg-opacity-50">
      <div class="bg-white rounded-lg w-full max-w-3xl p-6 relative overflow-y-auto max-h-[90vh]">
        <!-- Close button -->
        <button (click)="toggleForm()" class="absolute top-4 right-4 text-gray-600 hover:text-gray-900 text-2xl font-semibold">
          <i class="fas fa-times"></i>
        </button>

        <h2 class="text-2xl font-semibold mb-4 text-center">Modifier un type d'équipement</h2>

        <form (ngSubmit)="updateType()" #editForm="ngForm" enctype="multipart/form-data">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
            <!-- Equipment name input -->
            <div>
              <label for="edit-nom" class="block text-sm font-medium text-gray-700">Nom <span class="text-red-500">*</span></label>
              <input id="edit-nom" type="text" [(ngModel)]="selectedType.type" name="editNom" class="mt-2 p-3 border border-gray-300 rounded-md w-full" required #editNom="ngModel">
              <div *ngIf="editNom.invalid && editNom.touched" class="text-red-500 text-sm">Le nom du type est requis.</div>
              <div *ngIf="typeTaken" class="text-red-500 text-sm mt-1">
                {{ errorMessage }}
              </div>
            </div>

            <!-- Image input -->
            <div>
              <label for="edit-image" class="block text-sm font-medium text-gray-700">Image</label>
              <input id="edit-image" type="file" (change)="onFileSelected($event)" class="mt-2 p-3 border border-gray-300 rounded-md w-full">
              <p *ngIf="imageError" class="text-red-500">{{ imageError }}</p>
            </div>
          </div>

          <div class="flex justify-end space-x-4">
            <button type="reset" class="bg-yellow-500 text-white py-2 px-4 rounded-md hover:bg-yellow-600">
              <i class="fas fa-undo"></i> Réinitialiser
            </button>

            <button type="submit" [disabled]="editForm.invalid" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">
              <i class="fas fa-save"></i> Mettre à jour
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Formulaire d'ajout -->
    <div *ngIf="showAddTypeForm" class="fixed inset-0 z-50 flex justify-center items-center bg-black bg-opacity-50">
      <div class="bg-white rounded-lg w-full max-w-3xl p-6 relative overflow-y-auto max-h-[90vh]">
        <!-- Close button inside panel (top-right corner) -->
        <button (click)="toggleForm()" class="absolute top-4 right-4 text-gray-600 hover:text-gray-900 text-2xl font-semibold">
          <i class="fas fa-times"></i>
        </button>

        <h2 class="text-2xl font-semibold mb-4 text-center">Ajouter un type d'équipement</h2>

        <form (ngSubmit)="addNewType()" #serviceForm="ngForm" enctype="multipart/form-data">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
            <div>
              <label for="nom" class="block text-sm font-medium text-gray-700">Nom <span class="text-red-500">*</span></label>
              <input id="nom" type="text" [(ngModel)]="newType.type" name="nom" class="mt-2 p-3 border border-gray-300 rounded-md w-full" required #nom="ngModel">
              <div *ngIf="nom.invalid && nom.touched" class="text-red-500 text-sm">Le type est requis.</div>
              <div *ngIf="typeTaken" class="text-red-500 text-sm mt-1">
                {{errorMessage}}
              </div>
            </div>

            <div>
              <label for="image" class="block text-sm font-medium text-gray-700">Image</label>
              <input id="image" type="file" (change)="onFileSelected($event)" class="mt-2 p-3 border border-gray-300 rounded-md w-full">
              <p *ngIf="imageError" class="text-red-500">{{ imageError }}</p>
            </div>

          </div>
          <div class="flex justify-end space-x-4">
            <button type="reset" class="bg-yellow-500 text-white py-2 px-4 rounded-md hover:bg-yellow-600">
              <i class="fas fa-undo"></i> Réinitialiser
            </button>
  <button type="submit" [disabled]="serviceForm.invalid" class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600">
              <i class="fas fa-save"></i> Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Search Box -->
    <div class="flex flex-wrap md:flex-nowrap justify-between items-center space-y-4 md:space-y-0 md:space-x-4 mt-4">
      <div class="flex space-x-4 w-full md:w-auto">
        <div class="relative w-full">
          <input
            type="text"
            class="w-full py-2 px-3 border-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 ease-in-out"
            [(ngModel)]="searchTermNom"
            (input)="filterByType()"
            placeholder="Rechercher par Nom">
          <span class="absolute right-3 top-2 text-gray-500"><i class="fa fa-search"></i></span>
        </div>
      </div>
      <div class="flex space-x-4">
        <button class="text-blue-600 hover:text-blue-700 transition duration-200" (click)="showAddTypeForm = !showAddTypeForm">
          <i class="fas fa-plus fa-lg"></i> <!-- Add Icon -->
        </button>
        <button class="text-green-600 hover:text-green-700 transition duration-200" (click)="exportExcel()">
          <i class="fas fa-download fa-lg"></i>
        </button>
      </div>
    </div>

    <br>

    <!-- Equipment Type Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
      <div
        *ngFor="let type of filteredTypes"
        class="bg-white rounded-xl shadow-lg p-6 border border-gray-300 hover:shadow-xl transition-transform transform hover:-translate-y-2 duration-300">

        <!-- Equipment Image -->
        <div class="relative w-full h-40 rounded-xl overflow-hidden flex items-center justify-center bg-gray-100">
          <img [src]="getImageUrl(type.image)" alt="Service Image" class="w-auto h-28 object-cover transition-transform duration-300 hover:scale-110">
        </div>

        <!-- Equipment Name -->
        <h3 class="text-lg font-semibold text-gray-800 mt-4 mb-2 text-center">{{ type.type }}</h3>

        <!-- Voir Attributs Button -->
        <button
          class="w-full bg-green-700 text-white px-4 py-2 rounded-lg mt-4 font-medium shadow-md hover:bg-green-900 transition-all duration-300 transform hover:-translate-y-1"
          (click)="type.id ? getAttributes(type.id) : null">
          Voir attributs
        </button>
        <button class="w-full bg-yellow-500 text-white px-4 py-2 rounded-lg mt-2 font-medium shadow-md hover:bg-yellow-600"
                (click)="editType(type)">
          Modifier
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Attributes Panel -->
<div
  *ngIf="showAttributesPanel && !showEditTypeForm"
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">

  <div class="bg-white p-8 rounded-lg w-96 shadow-lg transform transition-all duration-300 scale-95 hover:scale-100">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold">{{ selectedType.type }} - Attributs</h2>
      <button
        (click)="closeAttributesPanel()"
        class="text-gray-500 hover:text-red-600 transition">
        ✖
      </button>
    </div>

    <!-- List of Attributes with Scrollbar -->
    <ul class="space-y-4 overflow-y-auto max-h-64">
      <li *ngFor="let attribute of attributes" class="bg-gray-100 p-2 rounded-md shadow-sm">
        <strong>{{ attribute.nom }}:</strong>
        <span>{{ getAttributeTypeLabel(attribute.attributEquipementType) }}</span>
        <span *ngIf="attribute.obligatoire" class="text-red-600 font-semibold ml-2">(Obligatoire)</span>
        <span *ngIf="attribute.actif" class="text-green-600 font-semibold ml-2">(Actif)</span>
        <span *ngIf="!attribute.actif" class="text-gray-600 font-semibold ml-2">(Inactif)</span>
        <!-- Edit Button -->
        <button
          (click)="editAttribute(attribute)"
          class="text-blue-500 hover:text-blue-700 mt-2 text-sm font-semibold">
          ✏️ Modifier
        </button>
      </li>
    </ul>

    <!-- Add New Attribute Form -->
    <div class="mt-6">
      <button
        (click)="showAddForm = !showAddForm"
        class="bg-blue-600 text-white p-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 hover:bg-blue-700 transition-all duration-300">
        <i class="fa fa-plus"></i> Ajouter un attribut
      </button>

      <div *ngIf="showAddForm" class="mt-4">
        <h3 class="text-lg font-semibold mb-4">Ajouter un nouvel attribut</h3>
        <form (ngSubmit)="addNewAttribute()">
          <div class="mb-4">
            <label for="attributeName" class="block text-sm font-medium text-gray-700">Nom de l'attribut</label>
            <input
              id="attributeName"
              type="text"
              class="w-full p-2 border-2 rounded-lg mt-2"
              [(ngModel)]="newAttribute.nom"
              name="nom"
              required
              placeholder="Entrez le nom de l'attribut">
          </div>
          <div *ngIf="attributTaken" class="text-red-500 text-sm mt-1">{{ errorMessage }}</div>

          <div class="mb-4">
            <label for="attributeType" class="block text-sm font-medium text-gray-700">Type de l'attribut</label>
            <select
              id="attributeType"
              class="w-full p-2 border-2 rounded-lg mt-2"
              [(ngModel)]="newAttribute.attributEquipementType"
              name="attributEquipementType"
              required>
              <option value="STRING">Chaîne de caractères</option>
              <option value="NUMBER">Nombre</option>
              <option value="DATE">Date</option>
              <option value="BOOLEAN">Booléen (Vrai/Faux)</option>
              <option value="FLOAT">Nombre à virgule flottante</option>
              <option value="ENUM">Liste de valeurs</option>
              <option value="LONGTEXT">Texte long</option>
            </select>
          </div>

          <!-- Obligatoire Checkbox -->
          <div class="mb-4 flex items-center">
            <input
              id="attributeRequired"
              type="checkbox"
              class="h-5 w-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
              [(ngModel)]="newAttribute.obligatoire"
              name="obligatoire">
            <label for="attributeRequired" class="ml-2 block text-sm text-gray-700">Obligatoire</label>
          </div>

          <!-- Actif Checkbox -->
          <div class="mb-4 flex items-center">
            <input
              id="attributeActif"
              type="checkbox"
              class="h-5 w-5 text-green-600 focus:ring-green-500 border-gray-300 rounded"
              [(ngModel)]="newAttribute.actif"
              name="actif">
            <label for="attributeActif" class="ml-2 block text-sm text-gray-700">Actif</label>
          </div>

          <button
            type="submit"
            class="w-full bg-blue-600 text-white px-4 py-2 rounded-lg mt-4 font-medium shadow-md hover:bg-blue-800 transition-all duration-300 transform hover:-translate-y-1"
            [disabled]="!newAttribute.nom || !newAttribute.attributEquipementType">
            Ajouter l'attribut
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modify Attribute Form -->
<div *ngIf="editingAttribute.id" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-8 rounded-lg w-96 shadow-lg transform transition-all duration-300 scale-95 hover:scale-100">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold">Modifier l'attribut</h2>
      <button
        (click)="closeEditPanel()"
        class="text-gray-500 hover:text-red-600 transition">
        ✖
      </button>
    </div>

    <form (ngSubmit)="updateAttribute()">
      <div class="mb-4">
        <label for="editAttributeName" class="block text-sm font-medium text-gray-700">Nom de l'attribut</label>
        <input
          id="editAttributeName"
          type="text"
          class="w-full p-2 border-2 rounded-lg mt-2"
          [(ngModel)]="editingAttribute.nom"
          name="nom"
          required>
      </div>

      <div *ngIf="attributTaken" class="text-red-500 text-sm mt-1">{{ errorMessage }}</div>


      <div class="mb-4">
        <label for="editAttributeType" class="block text-sm font-medium text-gray-700">Type de l'attribut</label>
        <select
          id="editAttributeType"
          class="w-full p-2 border-2 rounded-lg mt-2"
          [(ngModel)]="editingAttribute.attributEquipementType"
          name="attributEquipementType"
          required>
          <option value="STRING">Chaîne de caractères</option>
          <option value="NUMBER">Nombre</option>
          <option value="DATE">Date</option>
          <option value="BOOLEAN">Booléen</option>
          <option value="FLOAT">Nombre à virgule flottante</option>
          <option value="ENUM">Liste de valeurs</option>
          <option value="LONGTEXT">Texte long</option>
        </select>
      </div>

      <div class="mb-4 flex items-center">
        <input
          id="editAttributeRequired"
          type="checkbox"
          class="h-5 w-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
          [(ngModel)]="editingAttribute.obligatoire"
          name="obligatoire">
        <label for="editAttributeRequired" class="ml-2 block text-sm text-gray-700">Obligatoire</label>
      </div>

      <div class="mb-4 flex items-center">
        <input
          id="editAttributeActif"
          type="checkbox"
          class="h-5 w-5 text-green-600 focus:ring-green-500 border-gray-300 rounded"
          [(ngModel)]="editingAttribute.actif"
          name="actif">
        <label for="editAttributeActif" class="ml-2 block text-sm text-gray-700">Actif</label>
      </div>

      <button
        type="submit"
        class="w-full bg-blue-600 text-white px-4 py-2 rounded-lg mt-4 font-medium shadow-md hover:bg-blue-800 transition-all duration-300 transform hover:-translate-y-1"
        [disabled]="!editingAttribute.nom || !editingAttribute.attributEquipementType">
        Mettre à jour l'attribut
      </button>
    </form>
  </div>
</div>
