<div class="max-h-[60vh] overflow-y-auto px-2">
  <form (ngSubmit)="onSubmit()" #equipementForm="ngForm">
    <!-- Grid Layout for Inputs -->
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      <!-- Dropdown for Type Equipement -->
      <div class="col-span-2">
        <label for="typeEquipement" class="text-gray-700 font-semibold">Type d'équipement</label>
        <select id="typeEquipement" class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                [(ngModel)]="equipement.typeEquipement.id" name="typeEquipement" required
                (change)="onTypeSelect(equipement.typeEquipement.id)">
          <option *ngFor="let type of typesEquipements" [value]="type.id">{{ type.type }}</option>
        </select>
      </div>

      <!-- Static Attributes -->
      <div *ngFor="let attribute of staticAttributes">
        <label class="text-gray-700 font-semibold">
          {{ attribute }}
          <span *ngIf="isRequired(attribute)" class="text-red-500">*</span>
        </label>

        <!-- Input field for all attributes except 'Date achat', 'Service', 'Bâtiment', 'Etage' and 'Salle' -->
        <input *ngIf="attribute !== 'Date achat' && attribute !== 'Service' && attribute !== 'Bâtiment' && attribute !== 'Etage' && attribute !== 'Salle'"
               type="text"
               class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
               [(ngModel)]="equipement[attribute]" name="{{attribute}}"
               #field="ngModel"
               [required]="isRequired(attribute)"
               [ngClass]="{'border-red-500': field.invalid && field.touched}" />

        <!-- Date Achat Input -->
        <input *ngIf="attribute === 'Date achat'" type="date"
               class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
               [(ngModel)]="equipement.dateAchat" name="dateAchat"
               [required]="isRequired(attribute)" />

        <!-- Service Dropdown -->
        <select *ngIf="attribute === 'Service'" class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                [(ngModel)]="equipement.service.id" name="service">
          <option *ngFor="let service of services" [value]="service.id">
            {{ service.nom }}
          </option>
        </select>

        <!-- Batiment Dropdown -->
        <select *ngIf="attribute === 'Bâtiment'" class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                [(ngModel)]="equipement.batiment.id" name="batiment" (change)="onBatimentChange($event)">
          <option *ngFor="let batiment of batiments" [value]="batiment.id">
            {{ batiment.intitule }}
          </option>
        </select>

        <!-- Etage Dropdown -->
        <select *ngIf="attribute === 'Etage' && selectedBatimentId" class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                [(ngModel)]="equipement.etage.id" name="etage" (change)="onEtageChange($event)">
          <option *ngFor="let etage of etages" [value]="etage.id">
            {{ etage.num }}
          </option>
        </select>

        <!-- Salle Dropdown (only visible if Etage is selected) -->
        <select *ngIf="attribute === 'Salle' && selectedEtageId" class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                [(ngModel)]="equipement.salle.id" name="salle">
          <option *ngFor="let salle of salles" [value]="salle.id">
            {{ salle.num }}
          </option>
        </select>

      </div>

      <!-- Dynamic Attributes Based on Selected Type -->
      <div *ngFor="let attribut of attributsForSelectedType">
        <div *ngIf="attribut.actif">
          <label class="text-gray-700 font-semibold">
            {{ attribut.nom }}
            <span *ngIf="attribut.obligatoire" class="text-red-500">*</span>
          </label>

          <input *ngIf="attribut.attributEquipementType === 'STRING'" type="text"
                 class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                 [ngModel]="getEquipementProperty(attribut.nom)"
                 (ngModelChange)="setEquipementProperty(attribut.nom, $event)"
                 name="{{attribut.nom}}"
                 #field="ngModel"
                 [required]="!!attribut.obligatoire"
                 [ngClass]="{'border-red-500': field.invalid && field.touched && !!attribut.obligatoire}" />

          <input *ngIf="attribut.attributEquipementType === 'NUMBER'" type="number"
                 class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                 [ngModel]="getEquipementProperty(attribut.nom)"
                 (ngModelChange)="setEquipementProperty(attribut.nom, $event)"
                 name="{{attribut.nom}}"
                 #field="ngModel"
                 [required]="!!attribut.obligatoire"
                 [ngClass]="{'border-red-500': field.invalid && field.touched && !!attribut.obligatoire}" />

          <input *ngIf="attribut.attributEquipementType === 'FLOAT'" type="number" step="0.01"
                 class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                 [ngModel]="getEquipementProperty(attribut.nom)"
                 (ngModelChange)="setEquipementProperty(attribut.nom, $event)"
                 name="{{attribut.nom}}"
                 #field="ngModel"
                 [required]="!!attribut.obligatoire"
                 [ngClass]="{'border-red-500': field.invalid && field.touched && !!attribut.obligatoire}" />

          <div *ngIf="attribut.attributEquipementType === 'BOOLEAN'" class="flex items-center">
            <input type="checkbox"
                   class="mr-2"
                   [ngModel]="getEquipementProperty(attribut.nom)"
                   (ngModelChange)="setEquipementProperty(attribut.nom, $event)"
                   name="{{attribut.nom}}"
                   #field="ngModel"
                   [required]="!!attribut.obligatoire"
                   [ngClass]="{'border-red-500': field.invalid && field.touched && !!attribut.obligatoire}" />
            <span>Oui / Non (Cochez la case pour oui)</span>
          </div>

          <input *ngIf="attribut.attributEquipementType === 'DATE'" type="date"
                 class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                 [ngModel]="getEquipementProperty(attribut.nom)"
                 (ngModelChange)="setEquipementProperty(attribut.nom, $event)"
                 name="{{attribut.nom}}"
                 #field="ngModel"
                 [required]="!!attribut.obligatoire"
                 [ngClass]="{'border-red-500': field.invalid && field.touched && !!attribut.obligatoire}" />

          <textarea *ngIf="attribut.attributEquipementType === 'LONGTEXT'"
                    class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                    [ngModel]="getEquipementProperty(attribut.nom)"
                    (ngModelChange)="setEquipementProperty(attribut.nom, $event)"
                    name="{{attribut.nom}}"
                    #field="ngModel"
                    [required]="!!attribut.obligatoire"
                    rows="4"></textarea>
        </div>
      </div>

    </div>

    <!-- Submit Button -->
    <div class="mt-4">
      <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500"
              [disabled]="equipementForm.invalid">
        Enregistrer
      </button>
    </div>
  </form>
</div>
